Flask~=3.1.0
Gunicorn
requests~=2.32.3
smartapi-python
pandas~=2.2.3
logzero~=1.7.0
pyotp~=2.9.0
websocket-client
schedule
wget http://prdownloads.sourceforge.net/ta-lib/ta-lib-0.4.0-src.tar.gz \
  && sudo tar -xzf ta-lib-0.4.0-src.tar.gz \
  && sudo rm ta-lib-0.4.0-src.tar.gz \
  && cd ta-lib/ \
  && sudo ./configure --prefix=/usr \
  && sudo make \
  && sudo make install \
  && cd ~ \
  && sudo rm -rf ta-lib/ \
  && pip install ta-lib


git+https://github.com/rongardF/tvdatafeed.git




